[submodule "qmcsoftware"]
	path = qmcsoftware
	url = https://github.com/QMCSoftware/QMCSoftware.git
	branch = develop
[submodule "classlib"]
	path = classlib
	url = git@github.com:fjhickernell/HickernellAcademicLib.git
	branch = main
[submodule "manuscripts/aadit-jain-paper"]
	path = manuscripts/aadit-jain-paper
	url = https://git@git.overleaf.com/681ea7258735d0ac2f62f89f
